* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px solid black;
}

:root {
    /* colors  */
    --Grey-900: #2A4144;
    --Grey-500: #86A2A5;
    --Green-600: #0C7D69;
    --Green-200: #E0F1E8;
    --Red-error: #D73C3C;
    --Green-dark: rgb(6, 62.5, 52.5);
}

/* Text styling */

.heading {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1px;
    font-weight: 700;
}

.body-md-bold {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 700;
}

.body-md-regular {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

.body-sm-regular {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

.error {
    color: var(--Red-error);
    display: none;

}



body {
    font-family: "Karla", sans-serif;
    background-color: var(--Green-200);
    padding: 128px 0;
    color: var(--Grey-900);
}

.container {
    width: 736px;
    max-width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 40px;
    border-radius: 16px;
}

form {
    width: 100%;
    flex: 1;
}

h1 {
    margin-bottom: 32px;
    color: var(--Grey-900);
}

.name-div {
    display: flex;
    width: 100%;
    gap: 16px;
    min-width: 0;
    flex-wrap: wrap;

}



.first-name-div,
.last-name-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;

}


input {
    border-radius: 8px;
    border: 1px solid var(--Grey-500);
    cursor: pointer;
}

label {
    cursor: pointer;
}

#first-name,
#last-name,
#email {
    height: 51px;
    padding: 20px;

}

.email-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 24px auto;

}

.radio-btns {
    margin-bottom: 8px;
}

.two-radios {
    display: flex;
    flex-wrap: wrap;
}


.radio-btns div {
    display: flex;

    flex: 1;
    gap: 16px;
    cursor: pointer;
}

.general-enquiry-div,
.support-request-div {
    border: 1px solid var(--Grey-500);
    height: 51px;
    border-radius: 8px;
    padding-left: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*Custom radio buttons styling*/

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    border-radius: 50%;
    position: relative;
}

input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--Green-600);
    border-radius: 50%;
    top: 3px;
    left: 3px;

}

input[type="radio"]:checked {
    border: 1px solid var(--Green-600);
}








.message-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;

}

#textarea {
    height: 108px;
    border-radius: 8px;
    border: 1px solid var(--Grey-500);
    padding: 20px;
}

.check-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 40px auto;

}

.checkbox {
    display: flex;
    gap: 16px;
    align-items: center;
}

/*Custom checkbox styling*/

#consent {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    border: 1px solid var(--Grey-500);
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}


/* Show checkmark image when checked */
#consent:checked::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-image: url("assets/images/icon-checkbox-check.svg");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
}



.btn {
    background-color: var(--Green-600);
    height: 59px;
    border-radius: 8px;
    color: white;
}

.btn:hover {
    background-color: var(--Green-dark);
    color: white;
}

.btn:focus {
    background-color: var(--Green-600);
}

.message-div {
    background-color: var(--Grey-900);
    height: 107px;
    color: white;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    max-width: 85%;
    top: 25px;
    display: none;

}

.message-sent {
    display: flex;
    gap: 8px;

}

.message-sent h3 {
    margin: 0;
}

.input-required {
    border: 1px solid var(--Red-error) !important;
}


@media(max-width: 500px) {
    #textarea {
        height: 240px;
    }
}